
@{
    ViewBag.Title = "xemchitiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <title>Trung Tâm Bảo Hành</title>
    <!-- Các thẻ meta, CSS, hoặc các tệp tài nguyên khác nếu cần -->
</head>
<body>

    <div>
        <h1>Trung Tâm Bảo Hành</h1>
        <p>
            Chào mừng bạn đến với Trung Tâm Bảo Hành của chúng tôi. Chúng tôi cam kết cung cấp dịch vụ bảo hành chất lượng và chăm sóc khách hàng xuất sắc.
        </p>
    </div>

    <div>
        <h4>1. Dịch Vụ Bảo Hành</h4>
        <p>
            Trung Tâm Bảo Hành của chúng tôi cung cấp dịch vụ sửa chữa và bảo hành cho nhiều loại sản phẩm, bao gồm điện thoại di động, máy tính xách tay, máy tính bảng, và nhiều sản phẩm điện tử khác
