@{
    ViewBag.Title = "Contact";
}
<h2>Thông tin liên hệ</h2>

<address>
    <h3 style="color:blue">Liên hệ 1:</h3>
    Dư Thị Như Quỳnh
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    096 508 2019
    <br />
    <p><strong>Email:</strong>   <a href="mailto:nhuquynhvt882002@gmail.com">nhuquynhvt882002@gmail.com</a></p>
</address>

<address>
    <h3 style="color:blue">Liên hệ 2:</h3>
    Nguyễn Lê Kim Khánh
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    081 288 3636
    <br />
    <p><strong>Email:</strong>   <a href="mailto:khanh2001@gmail.com">khanh2001@gmail.com</a></p>
</address>
